MailFetchingTool/Service References/ServiceReference1/BotMailService.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BotWcfServiceIIS.MailBotServiceDTO"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/BotWcfServiceIIS.MailBotServiceDTO"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MailboxInfoProxy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailboxInfoProxy" nillable="true" type="tns:MailboxInfoProxy" />
  <xs:complexType name="MailHostInfoProxy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hostname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Protocol" type="tns:MailProtocol" />
      <xs:element minOccurs="0" name="UsingSsl" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailHostInfoProxy" nillable="true" type="tns:MailHostInfoProxy" />
  <xs:simpleType name="MailProtocol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pop3" />
      <xs:enumeration value="Imap" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MailProtocol" nillable="true" type="tns:MailProtocol" />
  <xs:complexType name="ArrayOfMailMessageProxy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MailMessageProxy" nillable="true"
                  type="tns:MailMessageProxy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMailMessageProxy" nillable="true" type="tns:ArrayOfMailMessageProxy" />
  <xs:complexType name="MailMessageProxy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailMessageProxy" nillable="true" type="tns:MailMessageProxy" />
</xs:schema>